<div>
  <h4 class="dialog-headline">
    Add Event
    <span class="close-icon-button">
      <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>
    </span>
  </h4>
</div>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="event-form-container">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="location" placeholder="location" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="description" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="primary" [disabled]="!eventForm.valid">
      Save
    </button>
    <button
      mat-button
      color="warn"
      [mat-dialog-close]="true"
      (click)="closeDialog()"
    >
      Close
    </button>
  </div>
</form>
